<!DOCTYPE html>
<html>
<head>
    <title>Porch Membership Reminder - Monthly</title>
</head>
<body>
    <h1>Hello {{ firstName }},</h1>
    <p>This is a reminder that your monthly membership fee for Porch is due soon.</p>
    <p>Total Amount: ${{ totalAmount }}</p>
    <p>Please click <a href="{{ frontendUrl }}">here</a> to view and pay your invoice.</p>
    <p>Thank you for choosing Fitness+!</p>
</body>
</html>
